// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

#project-card {
    height: 300px;
    overflow: hidden;
}